.projects {
  padding: 2rem;
}

.workItems {
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  gap: 3rem;
}

.work {
  display: flex;
  gap: 3.2rem;
  border-radius: 4px;
  position: relative;
  height: 250px;
}

.header {
  grid-column: 1 / -1;
}

.imageWrapper {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  border-radius: 4px;
}

.info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  line-height: 1.4;
}

.list {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
  justify-content: flex-start;
  align-items: center;
}

.list > * {
  padding: 0.3rem 0.5rem;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 4px;
  transition: all 0.2s;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.red {
  border: 1px solid var(--accent-1);
}

.blue {
  border: 1px solid var(--accent-5);
}

.yellow {
  border: 1px solid var(--accent-3);
}

.link:link,
.link:visited {
  width: 100px;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: box-shadow 0.2s;
}

.link:first-child {
  color: var(--accent-2);
  border: 1px solid var(--accent-2);
}

.link:first-child:hover {
  box-shadow: 0 0 10px var(--accent-2);
}

.link:last-child {
  background: var(--accent-3);
  color: var(--main-bg);
}

.link:last-child:hover {
  box-shadow: 0 0 10px var(--accent-3);
}

.link[data-type="download"] {
  border: 1px solid transparent;
}

@media (max-width: 75em) {
  .workItems {
    gap: 6rem;
  }

  .imageWrapper {
    width: 50%;
  }

  .info {
    width: 50%;
  }
}

@media (max-width: 57em) {
  .work {
    width: 100%;
  }
}

@media (max-width: 34em) {
  .work {
    height: auto;
    flex-direction: column;
  }

  .imageWrapper {
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .info {
    width: 100%;
  }
}
