.projects {
    padding: 2rem;
}

.workItems {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 310px;
    gap: 2rem;
    height: 100%;
}

.work {
    width: 300px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}

.header {
    grid-column: 1 / -1;
}

.image {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.imageWrapper {
    width: 100%;
}

.list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.list > * {
    padding: 0.3rem 0.5rem;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.red {
    border: 1px solid var(--accent-1);
}

.blue {
    border: 1px solid var(--accent-5);
}

.yellow {
    border: 1px solid var(--accent-3);
}

.link:link,
.link:visited {
    width: 100px;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: box-shadow 0.2s;
}

.link:first-child {
    color: var(--accent-2);
    border: 1px solid var(--accent-2);
}

.link:first-child:hover {
    box-shadow: 0 0 10px var(--accent-2);
}

.link:last-child {
    background: var(--accent-3);
    color: var(--main-bg);
}

.link:last-child:hover {
    box-shadow: 0 0 10px var(--accent-3);
}

.link[data-type="download"] {
    border: 1px solid transparent;
}

@media (max-width: 57em) {
    .work {
        width: 100%;
    }

    .workItems {
        grid-auto-rows: 350px;
        height: 950px;
        overflow-y: scroll;
    }
}

@media (max-width: 48em) {
    .workItems {
        height: 800px;
    }
}

@media (max-width: 34em) {
    .work {
        width: 100%;
    }

    .workItems {
        height: 500px;
    }
}
