.top {
  background: var(--main-bg);
  grid-column: 1 / -1;
  border-bottom: 1px solid var(--aside);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.dots {
  display: flex;
  gap: 0.5rem;
}

.dot:first-child:hover {
  background: var(--accent-1);
}

.dot:nth-child(2):hover {
  background: var(--accent-3);
}

.dot:last-child:hover {
  background: var(--accent-2);
}

.dot {
  background: var(--accent-4);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transition: background 0.2s;
}

.title {
  font-size: 1rem;
}
