:root {
    --main-bg: #0D1117;
    --sidebar: #010409;
    --text: #C9D1D9;
    --aside: #22272E;
    --accent-1: #E16E67;
    --accent-2: #6E5B89;
    --accent-3: #FFA657;
    --accent-4: #6D7073;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 82.5%;
    background-color: black;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--text);
}